.round {
  border-radius: 50%;
}

.multbg-top-to-bottom-left {
  border-top: 3px solid #;
  background-image: 
      linear-gradient(transparent, #fc4f02 , transparent),
      linear-gradient(transparent, transparent , transparent);
  -moz-background-size: 3px 100%;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; 
}

.multbg-top-to-bottom {
  background-image: 
      linear-gradient(transparent, transparent , transparent),
      linear-gradient(transparent, #fc4f02 , transparent);
  -moz-background-size: 3px 100%;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; 
}
/*.round:hover {
    webkit-filter: blur(4px);  Chrome, Safari, Opera 
    filter: blur(4px);
}*/